##### spring specific excludes from start.spring.io
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/






##### Java specific excludes from github

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/main/resources/application.yml
/keystoreDev.p12
/_secret
/src/main/resources/_secret
/src/main/resources/authservice.jks
/HowToRun.txt
/copy2deploy.bat
/src/main/resources/*.pem
/src/main/resources/*.cer
